@(question: interfaces.Question)

@main(question.title) {
    <div class="row">
        <div class="col-12 col-lg-8">
            <fieldset>
                <div class="form-group">
                    <label>@question.description</label>
                    <div id="code-area">@question.template</div>
                </div>
                <button type="button" id="btn-submit" class="btn btn-large btn-primary">Submit</button>
            </fieldset>

            <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("/src-min-noconflict/ace.js"))"></script>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        </div>
        <div class="col-6 col-lg-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Line</th>
                        <th>Col</th>
                        <th>Issue</th>
                    </tr>
                </thead>
                <tbody id="code-issues">
                </tbody>
            </table>
        </div>
    </div>
}
