@(title: String, question: String = "", code: String = "")

@main(title) {
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail">@question</label>
            <textarea id="code-area" name="code">@code</textarea>
        </div>
        <button type="button" id="btn-submit" class="btn btn-default">Submit</button>
    </fieldset>

    <script type="text/javascript">
        var editor = CodeMirror.fromTextArea(document.getElementById("code-area"), {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-java",
            theme: "eclipse"
        });

        var compilerTimer = null;
        var compile = function() {
            $.ajax({
                type: "POST",
                url: "@routes.Application.compile()",
                data: {code: editor.getValue()},
                dataType: 'json',
                success: function () {
                    alert("oh!")
                }
            });
        }

        editor.on("change", function() {
            if (compilerTimer != null) {
                clearTimeout(compilerTimer);
            }

            compilerTimer = setTimeout(compile, 800);
        });

        $(function() {
            $("#btn-submit").click(submitSolution);
        })
    </script>
}
