@(title: String, question: String = "", code: String = "")

@main(title) {
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail">@question</label>
            <div id="code-area" name="code">@code</div>
        </div>
        <button type="button" id="btn-submit" class="btn btn-default">Submit</button>
    </fieldset>

    <style type="text/css" media="screen">
        #code-area {
            position: relative;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 400px;
        }

        .squiggly {
            background: url("data:image/gif;base64,R0lGODlhCgAEAMIEAP9BGP6pl//Wy/7//P///////////////yH5BAEKAAQALAAAAAAKAAQAAAMROCOhK0oA0MIUMmTAZhsWBCYAOw==") repeat-x scroll 0px 100% transparent;
            display: inline-block;
            padding-bottom: 1px;
            position: absolute;
        }
    </style>

    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("/src-min-noconflict/ace.js"))"></script>

    <script type="text/javascript">
        var editor = ace.edit(document.getElementById("code-area"));
        editor.setTheme("ace/theme/chrome");

        var editorSession = editor.getSession();
        editorSession.setMode("ace/mode/java");
        editorSession.setUseSoftTabs(true);

        editor.on("change", function() {
            if (compilerTimer != null) {
                clearTimeout(compilerTimer);
            }

            compilerTimer = setTimeout(compile, 800);
        });

        var Range = ace.require('ace/range').Range;

        var markers = [];
        var compilerTimer = null;

        var addMarkers = function(response) {
            clearMarkers();

            data = response.responseJSON;
            if (data.success)
                return;

            for (var i = 0; i < data.errors.length; i++) {
                var error = data.errors[i];
                var range = new Range(error.startLine, error.startColumn, error.endLine, error.endColumn);
                markers.push(editorSession.addMarker(range, "squiggly", "typo", true));
            }
        }

        var clearMarkers = function () {
            for (var i = 0; i < markers.length; i++) {
                editorSession.removeMarker(markers[i]);
            }
            markers = [];
        }

        var compile = function(callback) {
            clearMarkers();
            $.ajax({
                type: "POST",
                url: "@routes.Application.compile()",
                data: {code: editor.getValue()},
                dataType: 'json',
                complete: [addMarkers, callback]
            });
        };

        var processTestResults = function () {
            console.log(arguments)
        };

        var submitSolution = function() {
            compile(function () {
                $.ajax({
                    type: "POST",
                    url: "@routes.Application.test()",
                    data: {code: editor.getValue()},
                    dataType: 'json',
                    success: processTestResults()
                });
            });
        };

        $(function() {
            $("#btn-submit").click(submitSolution);
        });
    </script>
}
